.App {
  text-align: center;
  overflow: hidden;
}


.App-header {
  background-color: #f8e00a;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  text-align: left;
  color: #fff;
  font-family: 'Roboto', cursive;
  font-size: 2rem;
  font-weight: 500;
  width: auto;
}

.App-footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.App-footer p {
  color: #ccc;
}

.App-note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.create-area-form {
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 75%;
  height: 100%;
  margin: 15px auto;
}

.input-title,
.input-note {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: .5rem;
  margin-bottom: .1rem;
}

.App-note h2 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.App-note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  display: block;
  border: none;
  color: #f8e00a;
  cursor: pointer;
  outline: none;
  background: #fff;
  margin: 0 0 0 auto;
  padding: 0;
}
